<?xml version="1.0" encoding="UTF-8"?>
<included>
    <property name="log.home" value="logs" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder" charset="UTF-8">
            <layout class="com.unitechs.framework.logger.patternlayout.EasyPatternLayout">
                <!-- %hostname|%ip|%mdc{traceid}|%date{yyyy-MM-dd HH:mm:ss.SSS}|%level|%pid|%thread|%class|%method|%logger %msg%n -->
                <pattern><![CDATA[%date{yyyy-MM-dd HH:mm:ss.SSS}|%level|%thread|%logger|%msg%n ]]></pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="com.unitechs" level="DEBUG" >
        <appender-ref ref="console" />
    </logger>
</included>