<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unitechs.biz.domain.mapper.atomic.CmBizServApiClientCfgMapper">
    <select id="authentication" resultType="int">
        select count(1) from cm_biz_servapiclientcfg
        where username=#{username}
        and ipAddress=#{ipAddress}
        and flag='1'
        and expiretime>=now()
    </select>
</mapper>