<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unitechs.biz.domain.mapper.atomic.WsAndReturnMapper">
    <insert id="saveWsC" parameterType="com.unitechs.biz.domain.entity.atomic.BmBizCompletedWsToNotice">
        insert into bm_biz_completedwstonotice(wsnbr,worksheetcode,status,execresult,opertime)
        value(#{wsnbr},#{workSheetCode},#{status},#{execResult},#{operTime})
    </insert>
    <update id="updateWsC" parameterType="com.unitechs.biz.domain.entity.atomic.BmBizCompletedWsToNotice">
        update bm_biz_completedwstonotice set status=#{status} , execresult=#{execResult} , opertime=#{operTime}
        where wsnbr=#{wsnbr}
    </update>
</mapper>
