<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unitechs.biz.domain.mapper.atomic.WsMsgQryMapper">

    <select id="queryWsNbr" resultType="com.unitechs.biz.domain.entity.atomic.BmBizWorksheet">
    	select * 
    	from bm_biz_worksheet
    	where servtypeid = #{ServType}
    		and WorkSheetCode = #{WsCode}  	
    </select>
    <select id="qryAutoDeploy" resultType="string">
    	select autodeploy 
    	from cm_biz_opertype 
    	where ServTypeID = #{ServType} 
    		and OperType = #{OperType} 	
    </select>
	<select id="qryCompletedWsTable" resultType="com.unitechs.biz.web.req.GeneralInfo">
		SELECT b.workSheetcode WsCode,
			   b.status WsStatus,
			   b.opertime StatusTime,
			   b.errorType WsMessage,
			   b.opertype
		FROM bm_biz_completedwstonotice a,
			 bm_biz_worksheet b
		WHERE a.wsnbr = b.wsnbr
		  AND b.source = 'auto'
		  AND a.status != 'U'
    		AND b.servtypeid in ('IPSL','MPLSVPN','PONCLOUD','PTNCLOUD','IPONCLOUD','IPTNCLOUD','IOTNCLOUD','SPNCLOUD')
		ORDER BY b.opertime
	</select>
	<select id="qryCallBackInfo" resultType="com.unitechs.biz.web.req.GeneralInfo">
		SELECT b.workSheetcode WsCode,
		b.status WsStatus,
		b.opertime StatusTime,
		b.errorType WsMessage,
		b.opertype,
		b.servtypeid
		FROM bm_biz_completedwstonotice a,
		bm_biz_worksheet b
		WHERE a.wsnbr = b.wsnbr
		AND b.source = 'auto'
		AND a.status != 'U'
		AND b.servtypeid in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
		ORDER BY b.opertime
    </select>
	<select id="qryCompleteWS" resultType="com.unitechs.biz.domain.entity.atomic.BmBizCompletedWsToNotice">
    	SELECT  b.workSheetcode workSheetCode,
    			b.status status,
    			b.opertime operTime,
    			b.errorType execResult,
				b.wsnbr  wsnbr
    	FROM bm_biz_completedwstonotice a
    	, bm_biz_worksheet b
    	where a.wsnbr = b.wsnbr
    	AND a.status='U'
    	AND b.status IN ('C','F')
    	ORDER BY b.opertime
    </select> 
    <delete id="deleteCompletedWsRecord">
    	delete from bm_biz_completedwstonotice 
    	where worksheetcode = #{wsCode}
    </delete>
	<select id="queryServModel" parameterType="string" resultType="integer">
         select count(1) from cm_biz_servmodel
         where servtypeid=#{servType}
         and servmodelid=#{servModel}
	</select>
	<select id="queryOperType" parameterType="string" resultType="integer">
		select count(1) from cm_biz_opertype
		where opertype=#{operType}
		and servtypeid=#{servType}
	</select>
	<select id="queryServType" parameterType="string" resultType="integer">
		select count(1) from cm_biz_servtype
		where servtypeid=#{servType}
	</select>

</mapper>
